### **Exercise 0:**

Read/look through the Lecture1 notes, make sure you understand them.

### **Exercise 1:**
Write a function to solve a quadratic equation. Use the formula with the discriminant, only find the real solutions, if they don't exist print some message.

Hint: for the square root just use the power 0.5 to avoid having to call a special function which we haven't seen yet.

In [6]:
def sol_quad(a, b, c):
    """ Find solutions for a* x**2 + b* x + c = 0 """
    if ( b**2- 4*a*c < 0 ):
        print('There are no real solutions')
    else :
        xp = (1 / (2*a) ) * ( -b + (b**2- 4*a*c)**0.5 )
        xn = (1 / (2*a) ) * ( -b - (b**2- 4*a*c)**0.5 )
    return xp, xn

print(sol_quad(1, 3, 1))

(-0.3819660112501051, -2.618033988749895)

### **Exercise 2:**
The Recamán sequence is a famous sequence invented by the Colombian mathematician, Bernardo Recamán Santos. It is defined by the following algorithm, starting at $a_0=0$:

$ a_n=a_{n-1}−n$ if $a_{n-1}-n > 0  $ and has not already appeared in the sequence; 

$ a_n=a_{n−1}+n$ otherwise

Write a function that returns the first N elements of this sequence.

You can use lists or sets to store the numbers.

(to check that it works - you should get 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22, 10, 23, 9, 24, 8, 25, 43, 62, 42, 63, 41, 18, 42, 17, 43, 16, 44, 15, 45, 14, 46, 79, 113, 78, 114, 77, 39, 78, 38, 79, 37, 80, 36, 81, 35, 82)

In [11]:
l = []
def rec_seq(n):
    if ( n == 0 ):
        l.append(n)  
        return n
    else :
        previous = rec_seq(n - 1)
        if ( (previous - n) > 0 and not( previous - n ) in l1):
            l.append( previous - n )
            return previous - n
        else:
            l.append( previous + n )
            return previous + n
    return 

print(rec_seq(5))
print(l)

7
[0, 1, 3, 6, 2, 7]

### **Exercise 3**
Print the list `mylist` sorted in descending order. The original list should not be modified

In [14]:
mylist=[1,-99,89,0,234,77,-748,11]

In [19]:
print(mylist[-1:-9:-1])

[11, -748, 77, 234, 0, 89, -99, 1]

### **Exercise 4:**
Given 2 lists, produce a list containing common items between the two.

In [25]:
l1 = [1, 2, 3, 4]
l2 = [-1, 2, -3, 4]
l3 = []

for i in range(len(l1)):
    e1 = l1[i]
    for j in range(len(l2)):
        e2 = l2[j]
        if ( l1[i] == l2[i] and not(e1) in l3):
            l3.append(e1)
print(l3)

[2, 4]

### **Exercise 5:**
Create a function that returns a list of all pairs of factors (as tuples) of a given number using list comprehension.

In [45]:
def pairs_factors(n):
    l = []
    for i in range(1, n):
        if ( n%i == 0 and not((n/i, i) in l)):
            l.append((i, n/i))
    return l

print(pairs_factors(100))

[(1, 100.0), (2, 50.0), (4, 25.0), (5, 20.0), (10, 10.0)]

### **Exercise 6:**
Create a list of all numbers divisible by 3 and smaller than 1000 in 4 different ways:
 
 - naive way where you just create a list and append data in a loop
 - using list comprehension
 - slicing an existing list
 - directly with `range()`

Time all of them.

In [35]:
# 1st method
l1 = []
for i in range(1000):
    if (i%3 ==0):
        l1.append(i)
print(l1)

# 2nd method
l2 = [x for x in range(1000) if (x%3 == 0)]
print(l2)

# 3rd mthod
l3 = [x for x in range(1000)]
l31 = l3[::3]
print(l31)

# 4th method
l4 = [x for x in range(0, 1000, 3)]
print(l4)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

### **Exercise 7:**
Write a function to check if a string (containing spaces and capital letters, but no punctuation marks) is a palindrome (use help to see which functions are available for a string).

In [70]:
def palindrome(word):
    processed_word = word.replace(" ", "").lower()

    splited = list(processed_word)
    is_a_palindrome = []
    #print(splited)
    
    for i in range(len(splited)):
        if splited[i] == splited[-(i + 1)]:
            is_a_palindrome.append(1)
        else:
            is_a_palindrome.append(0)
    #print(is_a_palindrome)
    
    if ([1]*len(splited) == is_a_palindrome):
        return print('The word is a palindrome')
    else:
        return print('The word is not a palindrome')

        
palindrome("amarama J, amarama")

The word is not a palindrome

### **Exercise 8:**
Write a function to find a character with a maximum number of occurences in a string. Return a tuple with that character and the number. You can ignore ties. Only use string's inbuilt functions and the function `max` (use help to see how to use it).

In [68]:
def f_character(str1):

    max_char = ''
    max_count = 0

    for char in set(str1):
        count = str1.count(char)

        if ( count > max_count ) :
            max_count = count
            max_char = char
    
    return (max_char, max_count)

f_character('sijsssssssogfjreopjua')

('s', 8)

### **Exercise 9:**
Write a function that return the first N prime numbers using the Sieve of Eratosphenes algorithm

https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

In [56]:
def eratosphenes(n):
    l = [x for x in range(2, n)]
    for i in l :
        if ( i**2 > n ):
            break
        else:
            temporal = [x for x in range(i + i , n, i)]
            for j in temporal:
                try:
                    l.remove(j)
                except ValueError:
                    pass
    return l

print(eratosphenes(35))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]